<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='/js/changeda.js'></script>
</head>
<body>
    <div class="form-floating mb-3">
        <h5> 의사 정보 수정 </h5>
    </div>
    <div class="form-floating mb-3">
        <input type="text" readonly value="" class="form-control phone" id="floatingInput" placeholder="Email">
        <label for="floatingInput">전화번호</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" value="" class="form-control name" id="floatingInput" placeholder="ID">
        <label for="floatingInput">이름</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" value="" class="form-control specialty" id="floatingInput" placeholder="Name">
        <label for="floatingInput">종목</label>
    </div>

    

    <button class="w-100 btn btn-lg btn-primary" type="button" onclick="onUpdate()" href="/wjqtn.html"> 수정 완료 </button>
    <hr class="my-4">
</body>
</html>