<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/index.css'>
</head>
<body>
    
    <div class="form-containor">
        <a href="/wjqtn.html">
            <button type="button">접수 담당자</button>
        </a>
        <a href="/dPdir.html">
            <button type="button">예약 관리자</button>
        </a>
        <a href="/doctor.html">
            <button type="button">의사 항목 가기</button>
        </a>
    </div>
    
    <script src='/js/index.js'></script>

</body>
</html>